#socialHeader {
    background-color: #FDE9DF;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    padding-left: 1%;
}

#pagesHeader {
    background-color:#1b1c1d;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 175%;
    padding-left: 10%;
    padding-right: 7%;
    text-align: left;
}

#linkd {
    font-size: 2.5vmin;
    margin:2vmin;
    color: rgba(256,256,256,.5);
    font-family: baskerville;
}

#linkd:hover{
    color: white;
}

