#homePicture {
    background-image: url(homeMainImage.png);
    width: 100%;
    min-height: 520px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  