body {
  font-family: 'Didot';
  color: black;
  margin: 0;
  padding: 0;
  height:100%;
  background-color: white;
  
}

#pageHeaders {
  background-color: #9B7D7D;
  padding-top: 3.50%;
  padding-bottom: 25%;
  font-size: 5vmin;
  height: 100%;
}


#headerTextFadeIn {
  opacity: 1;
  color: white;
  font-size: 175%;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#orderPage {
  background: linear-gradient(to top, #09203f 0%, #537895 100%) no-repeat center center fixed;
  font-size: 1.50em;
  font-family: "Arial";
  color: #d9d9d9;
  text-shadow: #2e2e2e 0 5px 5px;
  /*font-weight: 300;*/
  /*font-family: "Iowan Old Style";*/
  /*color: #BFBFBF;*/
}

#orderHeader {
  font-size: 2em;
  font-family: "Arial";
  color: #d9d9d9;
  text-shadow: #2e2e2e 0 5px 5px;
  font-weight: bold;
}

#orderDescriptions {
  background: linear-gradient(to top, #09203f 0%, #537895 100%) no-repeat center center fixed;
  font-size: 1.25em;
  font-family: "Arial";
  color: #d9d9d9;
  text-shadow: #2e2e2e 0 5px 5px;
  /*font-weight: 300;*/
  /*font-family: "Iowan Old Style";*/
  /*color: #BFBFBF;*/
}


